# Python compiled files and cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Virtual environments
venv/
ENV/
env/

# Secrets and config files
.env
.env.*

# Credentials and secrets
app/backend/credentials/

# RAG project outputs
data/vectorstore/
storage/sessions/

# Docker artifacts
*.tar
*.img
.dockerignore

# IDE / Editor / OS files
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
